p 
{
  font-size: 20px;
  font-family: fantasy;
  margin: 5px;
}
img 
{
  width : 140px; 
  height: 200px;
}

#container
{ 
  border: 5px ridge royalblue; 
  padding: 10px; 
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#bet_container
{
  margin-top: 10px;
  display: none;
}
