p 
{
  font-size: 20px;
  font-family: fantasy;
  margin: 5px;
}
img 
{
  width : 100px; 
  height: 143px;
}
h1 
{
  font-family: fantasy;
}
input 
{
  font-family: fantasy;
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}

#container_d, #container_p
{ 
  border: 5px ridge royalblue; 
  padding: 10px; 
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#bet_container
{
  float:left;
  margin-left: 10px;
  display: none;
}
#reset
{
  display: none;
}
#decision
{
  color: #FF0000
}